<h1>Cart</h1>

<% if @items.present? %>
<center>
<table class = "cart-items">
  <!-- header for table  -->
  <tr>
    <th>Item</th>
    <th>Sold By</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <!-- start of iteration -->
  <% @items.each do |item, quantity| %>
    <tr id="cart-item-<%=item.id%>">
      <!-- item name and picture  1st column-->
      <td>
        <p align = "center">
          <span>
            <img align = "center" id="cart-image" src= <%= item.image %>>
            <%=link_to item.name, "/items/#{item.id}" %>
          </span>
        </p>
      </td>
      <!-- merchant name 2nd column -->
      <td>
        <p align = "center">
          <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%>
        </p>
      </td>
      <!-- price of item 3rd column -->
      <td>
        <p><%=number_to_currency(item.price)%></p>
      </td>
      <!-- quantity of item in cart & remove link 4th column -->
      <td>
        <center>
          <p><%= quantity %></p>
          <p><span><%= link_to "-1", "/cart/#{item.id}", method: :patch %></span>
          |  <%= link_to "Remove", "/cart/#{item.id}",method: :delete %>  |
          <span><%= link_to "+1", "/cart/#{item.id}?add?=true", method: :patch %></span></p>
        </center>
      </td>
      <!-- subtotal of cart 5th column -->
      <td>
        <p><%=number_to_currency(cart.subtotal(item))%></p>
      </td>
    </tr>
  <% end %>
</table>
<!-- end of table  -->
  <p>Total: <%= number_to_currency(cart.total) %></p>
  <p><%= link_to "Empty Cart", "/cart", method: :delete %></p>
  <p><%= link_to "Checkout", "/orders/new", method: :get unless visitor?%></p>
  <% if visitor? %>
  <section class='checkout-error'> 
    You must <%= link_to "Register", "/register" %> or
    <%= link_to "Login", "/login" %> to checkout
  </section>
  <% end %>
<% else %>
  <h3 align= "center">Cart is currently empty</h3>
<% end %>
<table>
</center>
