<h1>Admin Dashboard</h1>

<h2>Orders:</h2>

<section class="status" id="packaged">
  <h3>Packaged:</h3>
  <% @orders.gather(:packaged).each do |order| %>
    <section id="order-<%= order.id %>">
      <p><%= link_to order.user.name, "/admin/users/#{order.user.id}" %></p>
      <p><%= order.id %></p>
      <p><%= order.created_at %></p>
      <%= button_to "Ship", "/orders/#{order.id}?status=shipped", method: :patch %>
    </section>
  <% end %>
</section>

<section class="status" id="pending">
  <h3>Pending:</h3>
  <% @orders.gather(:pending).each do |order| %>
    <section id="order-<%= order.id %>">
      <p><%= link_to order.user.name, "/admin/users/#{order.user.id}" %></p>
      <p><%= order.id %></p>
      <p><%= order.created_at %></p>
    </section>
  <% end %>
</section>

<section class="status" id="shipped">
  <h3>Shipped:</h3>
  <% @orders.gather(:shipped).each do |order| %>
    <section id="order-<%= order.id %>">
      <p><%= link_to order.user.name, "/admin/users/#{order.user.id}" %></p>
      <p><%= order.id %></p>
      <p><%= order.created_at %></p>
    </section>
  <% end %>
</section>

<section class="status" id="cancelled">
  <h3>Cancelled:</h3>
  <% @orders.gather(:cancelled).each do |order| %>
    <section id="order-<%= order.id %>">
      <p><%= link_to order.user.name, "/admin/users/#{order.user.id}" %></p>
      <p><%= order.id %></p>
      <p><%= order.created_at %></p>
    </section>
  <% end %>
</section>
