<h1>All Items</h1>
<section class="most-popular-items">
  <h2>Most Popular Items:</h2>
  <ul>
    <% @items.five_most_poplular.each do |item| %>
      <li class="item"><%= item.name %> - <%= item.total_quantity_ordered %> ordered</li>
    <% end %>
  </ul>
</section>
<section class="grid-container">
  <% @items.all_active.each do |item| %>
    <section class = "grid-item" id='item-<%=item.id%>'>
      <h2> <%=link_to item.name, "/items/#{item.id}" %> </h2>
      <p>Sold by: <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
      <%= link_to image_tag(item.image), "items/#{item.id}", class:"image-link" %>
      <p> <%= item.description%> </p>
      <p>Price: <%=number_to_currency(item.price) %> </p>
      <p>Inventory: <%= item.inventory %> </p>

      <% if item.active? %>
        <p>Active</p>
      <% else %>
        <p>Inactive</p>
      <% end %>

    </section>
    <% end %>
</section>
